.stackTetris {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  margin: auto;
  width: 500px;

  border-radius: 6px;

  color: #9da5b4;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  background: #ffffff;
  height: 33px;
  padding: 0 18px;
}

.headerItems {
  display: flex;
  padding-left: 0;
  list-style: none;
  width: 65px;
  justify-content: space-around;
  margin: 0;
}

.headerItem {
  background: #b8bbc2;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  margin-top: 11px;
}

.editor {
  position: relative;
  display: flex;
  flex: 1;
  background-color: #21252b;
  color: #9da5b4;
}

.textEditor {
  position: relative;
  display: flex;
  flex: 1;
  color: rgb(171, 178, 191);
  background: #282c34;
}

.wrapGuide {
  width: 1px;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 430px;
  background: rgba(171, 178, 191, 0.15);
}

.statusBar {
  position: relative;
  -webkit-user-select: none;
  overflow: hidden;
  white-space: nowrap;

  font-size: 1em;
  height: 2.625em;
  line-height: 2.625em;
  background-color: #21252b;
  padding: 0 18px;
}
